<!-- LINK COLUMNS GRID -->
<div class="ft-links-section">
  <div class="ft-container">

    <!-- Row 1: 4 columns -->
    <div class="ft-row">
      <div *ngFor="let col of row1" class="ft-col">
        <h4 class="ft-col-heading">{{ col.heading }}</h4>
        <ul class="ft-col-list">
          <li *ngFor="let link of col.links">
            <a [routerLink]="link.href" [queryParams]="link.params || {}" class="ft-link">{{ link.label }}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="ft-divider"></div>

    <!-- Row 2: 4 columns -->
    <div class="ft-row">
      <div *ngFor="let col of row2" class="ft-col">
        <h4 class="ft-col-heading">{{ col.heading }}</h4>
        <ul class="ft-col-list">
          <li *ngFor="let link of col.links">
            <a [routerLink]="link.href" [queryParams]="link.params || {}" class="ft-link">{{ link.label }}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="ft-divider"></div>

    <!-- Row 3: 2 columns -->
    <div class="ft-row ft-row--2col">
      <div *ngFor="let col of row3" class="ft-col">
        <h4 class="ft-col-heading">{{ col.heading }}</h4>
        <ul class="ft-col-list">
          <li *ngFor="let link of col.links">
            <a [routerLink]="link.href" [queryParams]="link.params || {}" class="ft-link">{{ link.label }}</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
